/* style.css */
body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
}

h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 2em;
    color: #1DB954;
}

pre {
    white-space: pre-wrap;
    background-color: #181818;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-x: auto;
}

a {
    color: #1DB954;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #1DB954;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px auto;
    display: block;
    font-size: 1em;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1ed760;
}
